body{
    margin: 0px;
    padding: 0px;
}
#main{
    height: 100vh;
    width:100%;
    background-color:#03A9F4;
    overflow: hidden;
}
#slider{
    position: relative;
    width: 400%;
    margin: 0px;
    left: 5%;
}
#d,#a,#f,#t{
    width: 25%;
    font-size: 20cm;
    font-family: fantasy;
    line-height: 16.5cm;
    background-image: url(img1.jpg);
    background-position: -200px 0px;   
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    float: left;
}
#a{
    background-image: url(img2.jpg);
    background-position: 0px 0px;
}
#f{
    background-image: url(img3.jpg);
    background-position: -200px 0px;
}
#t{
    background-image: url(img4.jpg);
    background-position: 600px 0px;
}
#data,#data2,#data3,#data4{
    width: 350px;
    font-family: arial;
    font-size: 14px;
    color:#111;
    line-height: 35px;
    position: fixed;
    top:50%;
    left: 75%;
    transform: translate(-50%,-50%);
}
#data2{
    left: 40%;
    display: none;
}
#data3{
    left: 70%;
    display: none;
}
#data4{
    left: 40%;
    display: none;
}
.title{
    margin-top: 5px;
    font-size: 35px;
    font-family: fantasy;
}
.info{
    width: 350px;
    margin-top: 5px;
    font-family: arial;
    font-size: 12px;
    line-height: 25px;
    text-align: justify;
}
.line{
    height: 80%;
    width: 2px;
    position: fixed;
    top:15%;
    left: 60%;
    background:linear-gradient(#111 0%,#03A9F4 90%);
}
hr{
    margin: 0px;
    padding: 0px;
    margin-top: -6px;
}
#navigation{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
a{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #111;
    border-radius: 50%;
    outline: none;
    border:2px solid #111;
    transition: all .5s;
}


























